/* اعداد را هم فارسی نمایش میدهد */
@font-face {
  font-family: Sahel;
  src: url('Sahel-FD-WOL.eot');
  src: url('Sahel-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Sahel-FD-WOL.woff2') format('woff2'),
       url('Sahel-FD-WOL.woff') format('woff'),
       url('Sahel-FD-WOL.ttf') format('truetype');
  font-weight: bold;
}

table td {
  position: relative;
}

table td input {
  position: absolute;
    display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
table td label {
  background-color: #bbbcbf;
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;

}
.popup-wrapper{
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.5);
z-index: 0 !important;
}
.popup{
background-color: #fff;
border: 1px solid #ddd;
border-radious: 7px;
position: fixed;
left: 50%;
transform: translateX(-50%)
}
.popup > h4,
.popup > div
{
padding: 15px 20px;
border-bottom: 1px solid #ddd;
}
.popup > h4 > span.popup-close:after{
content: "\007"
float: right;
cursor: pointer;
}
.popup > button.popup-close{
float: right;
margin: 15px 20px
}
.my-modal{
display:flex;}


.pwt-btn .pwt-btn-switch{
font-family:Vazir;
font-size:12px
}

.pagination > li > a ,.my-li-pagination > li > a{
color: #fff !important;
background-color: #dc3545;
}
.pagination > li > a:hover,.my-li-pagination > li > a:hover,.mycolor{
color: #dc3545 !important;
background-color: #fff;
}
/*
*******************************************************************************
style for Checkbox
*************************************************************************************
*/

@keyframes pull {
  0% {
    height: 0;
  }
  100% {
    height: 1.2rem;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
  }
}
.checkbox-flip, .checkbox-pop, .checkbox-pull, .checkbox-spin {
  display: none;
}

.checkbox-flip + label span,
.checkbox-pop + label span,
.checkbox-pull + label span,
.checkbox-spin + label span {
  display: inline-block;
  width: 25px;
  height: 19px;
  margin: 0 5px -4px 0;
  /*layout relationship between check and label*/
}
.checkbox-flip + label span:before, .checkbox-flip + label span:after,
.checkbox-pop + label span:before,
.checkbox-pop + label span:after,
.checkbox-pull + label span:before,
.checkbox-pull + label span:after,
.checkbox-spin + label span:before,
.checkbox-spin + label span:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 2px solid #dc3545;
}
.checkbox-flip + label span:after,
.checkbox-pop + label span:after,
.checkbox-pull + label span:after,
.checkbox-spin + label span:after {
  z-index: 0;
  border: none;
}

.checkbox-flip:checked + label span:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #dc3545;
}}

.checkbox-pop:checked + label span:before {
  animation: pop 0.3s ease;
  z-index: 100;
  background: #FF4040;
}

.checkbox-pull:checked + label span:after {
  width: 1.2rem;
  height: 1.2rem;
  background: #FF4040;
  animation: pull 0.4s linear;
}

.checkbox-spin:checked + label span:before {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  background: #FF4040;
}