{% extends 'inc/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'my_change/css/jspc-gray.css' %}">
<link rel="stylesheet" href="{% static 'my_change/css/sweetalert.css' %}">
{% endblock css %}
{% block main %}
<div class="col">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">فرم ثبت حضور پزشک</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12 m-3">
                <form id="form_per">
                    {% csrf_token %}
                    <p>
                        <label for="pdate">تاریخ</label><br>
                        <input type="text" id="pdate" class="on-select-example form-control">
                    </p>
                    <p>
                        <label>پزشک</label>
                        <select class="form-control" id="doctor">
                            <option>برای این تاریخ پزشکی تعریف نشده است</option>
                        </select>
                    </p>
                    <p>
                        <label for="from_hour">از ساعت</label>
                        <input type="text" id="from_hour" class="form-control">
                    </p>
                    <p>
                        <label for="to_hour">تاساعت</label><br>
                        <input type="text" id="to_hour" class="form-control">
                    </p>
                    <p>
                        <label for="interval_sick">تعداد ویزیت دریک ساعت</label>
                        <input type="text" value="6" id="interval_sick" class="form-control">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-dark" id="form">ذخیره</button>
                    </p>

                </form>
            </div>
            <div class="col-md-6 col-sm-6 m-4">
                <img class="card-img" src="{% static 'my_change/images/icon/icon6.jpeg' %}">
            </div>
        </div>
    </div>
</div>
{% endblock main%}

{% block script %}
<script type="text/javascript" src="{% static 'my_change/js/sweetalert.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
let pdate = document.getElementById('pdate');
document.getElementById('pdate').addEventListener('click', ()=>{
              $(document).ready(function() {
                            $(".on-select-example").pDatepicker({
                                                     format: 'YYYYMMDD',
                                                     onSelect:getdoctor,
                                                     autoClose:true
                            });

                            });
              });


const namedoc = document.querySelector("#doctor");
getdoctor()
async function getdoctor() {
    try {
        for (var i = 0; i <= namedoc.options.length; i++) {
            namedoc.remove(0)
        }
        const response = await axios.get('/getdoctorapi/');
        console.log(response.data);
        doctor = response.data;
        doctor.forEach((item) => {
            let doc = item.parent != null ? item.name + " -> " : "";
            const option = new Option(doc + item.name, item.id);
            namedoc.appendChild(option);
        });
    } catch (error) {
        console.error(error);
        Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 1500
                })
    }
}

async function getdoctor() {
    try {
        for (var i = 0; i <= namedoc.options.length; i++) {
            namedoc.remove(0)
        }
        const response = await axios.get('/getdoctorapi/');
        console.log(response.data);
        doctor = response.data;
        doctor.forEach((item) => {
            let doc = item.parent != null ? item.name + " -> " : "";
            const option = new Option(doc + item.name, item.id);
            namedoc.appendChild(option);
        });
    } catch (error) {
        console.error(error);
        Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 1500
                })
    }
}

function date_per(date){
    let result="";
    let d=date.split("/")

    d.forEach((item) => {
         if(item.length==1)
            item="0"+item

         result+=item;
    });

   return result;
}

let form = document.getElementById('form_per'); // selecting the form

form.addEventListener(
'submit',
function(event) { // 1
    event.preventDefault()

    let data = new FormData(); // 2
    data.append("date", date_per(document.getElementById('pdate').value));
    data.append("doctor", namedoc.options[namedoc.selectedIndex].value);
    data.append("from_hour", document.getElementById('from_hour').value);
    data.append("doctor", document.getElementById('doctor').value);
    data.append("to_hour", document.getElementById('to_hour').value);
    data.append("interval_sick", document.getElementById('interval_sick').value);
    data.append("csrfmiddlewaretoken", '{{csrf_token}}'); // 3

        axios.post('/presencedoctor/', data) // 4<!--
        .then(res =>
            Swal.fire({
                position: 'top',
                icon: 'success',
                title: 'پزشک  در روز مورد ' + date_per(document.getElementById('pdate').value) + 'ذخیره شد',
                showConfirmButton: false,
                timer: 1500
            })
        ) // 5
        .catch(errors =>

              Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 1500
                })
        )

}) // 6-->
</script>
{% endblock %}