{% extends 'inc/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'my_change/css/jspc-gray.css' %}">
<link rel="stylesheet" href="{% static 'my_change/css/sweetalert.css' %}">
{% endblock css %}
{% block main %}
<div class="col">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">فرم دریافت نوبت</h3>
        </div>
        <form id="form_visit">
            <div class="m-2 p-3">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <label for="pdate">تاریخ</label><br>
                        <input type="text" id="pdate" class="on-select-example form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4 col-12">
                        <label>پزشک</label>
                        <select class="form-control" id="doctor">
                            <option>برای این تاریخ پزشکی تعریف نشده است</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-12 mt-3">
                    <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#exampleModal">
                        تعین زمان ویزیت
                    </button>

                    <label class="mr-2">ساعت حضور شما:</label>
                    <label class="mr-1" id="hour-visit">--:--</label>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="display:block">
                                    <h5 class="modal-title" id="exampleModalLabel" style="float:right;">انتخاب ساعت</h5>
                                    <button type="button" class="close" data-dismiss="modal" style="float:left; "
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body my-modal" id="my-modal">
                                    <div class="form-check ml-3">
                                        <input class="form-check-input" type="radio" name="radio" id="exampleRadios1"
                                               value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            7:20
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer" style="display:block">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <label for="serial">سریال بیمار</label><br>
                    <input type="text" name="serial" id="serial" class="form-control" value="{{user.serial}}">
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <label for="service">علت مراجعه</label><br>
                    <select class="form-control" id="service">
                        <option> خدمتی در نظرگرفته نشده است</option>
                    </select>
                </div>
                <div class="col-md-12 col-12 mt-3">
                    <button type="submit" class="btn btn-danger" id="form">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main%}

{% block script %}
<!--<script type="text/javascript" src="{% static 'my_change/js/js-persian-cal.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'my_change/js/sweetalert.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">
const namedoc = document.querySelector("#doctor");
const services = document.querySelector("#service");
let form = document.getElementById('form_visit'); // selecting the form
let recive=null;
let data_send = new FormData();
let pdate = document.getElementById('pdate');

getservice()

let reciveHour=null;

  $(document).ready(function() {
    $(".on-select-example").pDatepicker({
        format: 'YYYY/MM/DD',
        onSelect:getdoctor,
    });

  });
<!-- darayaft information model Doctor-->
async function getdoctor() {
    try {
        for (var i = 0; i <= namedoc.options.length; i++) {
            namedoc.remove(0)
        }
        const response = await axios.get('/getdoctordateapi/',{params:{date:date_per(document.getElementById('pdate').value)}});
        recive = response.data;
        console.log(recive)
        if(recive.length>0){
            recive.forEach((item) => {
                const option = new Option( item.doctor.name);
                option.setAttribute("from",item.from_hour);
                option.setAttribute("to",item.to_hour);
                option.setAttribute("interval",item.interval_sick);
                option.setAttribute("id",item.doctor.id);
                namedoc.appendChild(option);
            });
            getChangeDoctorDropdown(recive);
        }else{
                const option = new Option( " برای این تاریخ پزشکی تعریف نشده است");
                namedoc.appendChild(option);
        }


    } catch (error) {
        console.error(error);
        Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 2000
                })
    }
}

async function getservice() {
    try {
        for (var i = 0; i <= namedoc.options.length; i++) {
            service.remove(0)
        }
        const response = await axios.get('/getserviceapi/');
        console.log(response.data);
        service = response.data;
        service.forEach((item) => {
            let doc = item.parent != null ? item.name + " -> " : "";
            const option = new Option(doc + item.service, item.id);
            services.appendChild(option);
        });
    } catch (error) {
        console.error(error);
        Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 1500
                })
    }
}

<!--// payesh dropdown list doctor baraye taghirat -->
namedoc.onchange = function() {
                  getChangeDoctorDropdown(recive)}

<!-- afzodan id doctor baraye ersal -->
async function getChangeDoctorDropdown(data){
try{
    let obj=namedoc.options[namedoc.selectedIndex];
    const response = await axios.get('/gethourvisit/',
    {params:
        {
            date:date_per(document.getElementById('pdate').value),
            doctor:namedoc.options[namedoc.selectedIndex].id
        }
    });
        reciveHour = response.data;
    create_radio(parseInt(obj.getAttribute("from")),parseInt(obj.getAttribute("to")),parseInt(obj.getAttribute("interval")))

    const btn = document.querySelector('#my-modal');
    let labelHour=document.querySelector("#hour-visit");
    labelHour.innerText="--:--";
        const radioButtons = document.querySelectorAll('input[name="radio"]');
        btn.addEventListener("click", () => {
            for (const radioButton of radioButtons) {
                if (radioButton.checked) {
                    radio = radioButton.value;

                    labelHour.innerText=radio;
                    break;
                }
            }
        });
    }catch(error){console.log(error)}
}

<!-- ersal form ba axios be server -->
form.addEventListener(
'submit',
function(event) { // 1
    event.preventDefault()
    data_send.delete("hour");
    data_send.delete("serial");
    data_send.append("doctor", namedoc.options[namedoc.selectedIndex].id);
    data_send.append("date", date_per(document.getElementById('pdate').value));
    data_send.append("hour",document.querySelector("#hour-visit").innerText);
    data_send.append("serial",document.getElementById('serial').value);
    data_send.append("csrfmiddlewaretoken", '{{csrf_token}}');

    axios.post('/visit/', data_send) // 4<!--
        .then(res =>
            Swal.fire({
                position: 'top',
                icon: 'success',
                title: ' نوبت شما در روز ' + document.getElementById('pdate').value + 'ذخیره شد  ',
                showConfirmButton: false,
                timer: 2000
            })
        ) // 5
        .catch(errors =>

              Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'بامشکل مواجه شدید,دوباره سعی کنید!',
                showConfirmButton: false,
                timer: 1500,
                })
        )
    data_send.delete("date")
    data_send.delete("csrfmiddlewaretoken")
    })

<!-- eslah format 1401101 be 14010101 tedad 8 character -->
function date_per(date){
    let result="";
    let d=date.split("/")

    d.forEach((item) => {
         if(item.length==1)
            item="0"+item

         result+=item;
});

   return result;
}

function create_radio(from,to,identity){
let myradio=document.querySelector("#my-modal");
myradio.className="modal-body";
myradio.innerHTML="";

for (let i = 0; i < to-from ;i++) {
    let time=60/identity;
    let hour=from+i;
    let mydiv=document.createElement("div");
    mydiv.setAttribute('id','mydiv');
    mydiv.className="row";
    mydiv.classList.add('mb-3');
    mydiv.classList.add('justify-content-between');
    myradio.append(mydiv);
        for(let j=0;j< identity;j++){
            let Id=((hour.toString()).length>1?hour:"0"+hour).toString()+":"+(time*(j)>0?time*(j):"00").toString();
            let div=document.createElement("div");
                div.classList.add('ml-3');
                div.classList.add('pr-4');
                let input=document.createElement("input");
                input.className="form-check-input";
                input.setAttribute('type','radio');
                input.setAttribute('id',Id);

    <!-- baraye sozandan zaman haye gerefte shode -->

                if(reciveHour){
                    reciveHour.forEach((item) => {
                        if(Id==item.hour){
                                input.setAttribute('disabled',true);
                        }
                    })
                }
                input.setAttribute('name',"radio");
                input.setAttribute('value',Id);
                let label=document.createElement("label");
                label.className="form-check-label";
                label.setAttribute('for','exampleRadios1');
                label.innerText=Id

            div.append(input);
            div.append(label);
            mydiv.append(div);
        }

    }
}








</script>
{% endblock %}