{% extends 'inc/base.html' %}
{% load static %}
{% block main %}
<div class="col">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">فرم پروفایل کاربر</h3>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-6 col-12 m-3">
                <form action="" method="post" class="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-info" type="submit" value="ارسال">
                </form>
            </div>
            <!--          <div class="col-md-6 m-4" style="background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),url('{% static 'my_change/images/icon/icon6.jpeg' %}') no-repeat center center/cover;height: 100vh;padding:0%;"></div>-->
            <div class="col-md-6 col-sm-6 m-4">
                <img class="card-img" src="{% static 'my_change/images/icon/icon6.jpeg' %}">
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">
document.getElementById('id_brithday').addEventListener('click', ()=>{
              $(document).ready(function() {
                            $(".on-select-example").pDatepicker({
                                                     format: 'YYYYMMDD',
                             });

                            });
              });


</script>
{% endblock script %}