{% extends 'inc/base.html' %}
{% load static %}
{% block main %}
<div class="col">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">فرم ارسال پیامک</h3>
        </div>
        <div class="form-group m-3">
            <label for="messages">متن پیام</label>
            <textarea class="form-control" id="messages" rows="3"></textarea>
        </div>
        <div class="col-3 m-2">
            <button class="btn btn-danger">ارسال</button>
        </div>
        <div class="">
            <div id="tels" class="form-group row m-2 border p-3">
                <label>
                    <input type="checkbox" class="icheckbox_minimal-red">
                    09127583171
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock main%}
{% block script %}
<script type="text/javascript" src="{% static 'my_change/js/sweetalert.js' %}"></script>
<script src="{% static 'my_change/js/axios.min.js' %}"></script>

<script type="text/javascript">

let divTels=document.querySelector("#tels");
divTels.innerHTML=""
<!--btn.addEventListener(-->
<!--'click',-->
<!--function(event) {-->
<!--    event.preventDefault()-->
<!--    getuser()-->
<!--    });-->

window.onload = function() { getuser()}
    async function getuser() {
    try {
         const response = await axios.get('/api/users/');
         recive = response.data;
         recive.forEach((item) => {
                   let div=document.createElement("div");
                   div.className="col-md-4 col-6"
                   let label=document.createElement("label");
                   label.className="p-1"
                   let input=document.createElement("input");
                   input.className="icheckbox_minimal-red";
                   input.setAttribute('type','checkbox');
                   input.setAttribute('id',item.tel);
                   input.setAttribute('checked',true);
                   var text=item.tel
                   label.append(input);
                   label.append(text);
                   div.append(label)
                   divTels.append(div)
                })
            $(function () {
                $('input').iCheck({
                 checkboxClass: 'icheckbox_square-red',
                 radioClass   : 'iradio_square-red',
                 increaseArea : '20%' // optional
            })
         })
    }
    catch (error) {
                }};








</script>
{% endblock script %}