{% extends 'inc/base.html' %}
{% load static %}
{% block main %}
<div class="col">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">فرم ارسال پیامک</h3>
        </div>
        <div class="form-group m-3">
            <label for="messages">متن پیام</label>
            <textarea class="form-control" id="messages" rows="3"></textarea>
        </div>
        <div class="col-3 m-2">
            <button id="send" class="btn btn-danger">ارسال</button>
        </div>
        <div class="col-12 m-4">
            <button id="all-tel" class="btn btn-sm btn-secondary mt-2"> ارسال به همه شماره ها</button>
            <button id="un-tel" class="btn btn-sm btn-secondary mt-2 ml-2"> عدم ارسال به همه شماره ها</button>
        </div>
        <div class="mx-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <div class="d-flex my-li-pagination">

                    </div>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="">
            <div id="tels" class="form-group row m-2 border p-3">
                <label>
                    <input type="checkbox" class="icheckbox_minimal-red">
                    09127583171
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock main%}
{% block script %}
<script type="text/javascript" src="{% static 'my_change/js/sweetalert.js' %}"></script>
<script src="{% static 'my_change/js/axios.min.js' %}"></script>

<script type="text/javascript">


let el_checkbox=null;
let obj_tell=[]
let divTels=document.querySelector("#tels");

let btn=document.querySelector("#send");
let btn_all_tell=document.querySelector("#all-tel");
let btn_un_tell=document.querySelector("#un-tel");

divTels.innerHTML=""
btn.addEventListener(
'click',
function(event) {
    obj_tell=[];
    event.preventDefault()
    var i=0;
    el_checkbox.forEach(element => {
        if((element.firstElementChild).classList[1] === 'checked'){
              obj_tell[i] = element.innerText;
              i=i+1;
        }

    })
        console.log(obj_tell)
});
btn_all_tell.addEventListener(
'click',
function(event) {
    el_checkbox.forEach(element => {
        if((element.firstElementChild).classList[0] === 'icheckbox_square-red'){
              (element.firstElementChild).classList.add('checked')
        }
    })
});
btn_un_tell.addEventListener(
'click',
function(event) {
    el_checkbox.forEach(element => {
        console.log(element)
        if((element.firstElementChild).classList[1] === 'checked'){
              (element.firstElementChild).classList.remove('checked')
        }
    })
});

window.onload = function() { get_count_users()}

async function get_count_users() {
    try {
         let div_in_ul=document.querySelector(".my-li-pagination");
         const response = await axios.get('/api/countusers/');
         recive = response.data.users;
         console.log(recive)
         let counter=1;
         if(recive>257){
            counter=recive/256;
            if((recive%256)>0){
               counter++;
            }
         }

         for(let i=1;i<=counter;i++){
             let li=document.createElement("li");
             let a=document.createElement("a");

             li.className="page-item";
             a.className="page-link";
             li.addEventListener( 'click', function(){
                 console.log(i)
                 getuser(i)
             });
             a.append(i)
             li.append(a)
             div_in_ul.append(li)
         }
         getuser(1)
    }
    catch (error) {
    console.log("eeeeeeeeeeeeeeeeeeror")
    console.log(error)
                }};
async function getuser(page) {
    try {
        console.log("page="+page)
         divTels.innerHTML="";
         const response = await axios.get('/api/ListUsers/',{params:{obj:page}});
         recive = response.data;
         recive.forEach((item) => {
                   let div=document.createElement("div");
                   div.className="col-md-4 col-6"
                   let label=document.createElement("label");
                   label.setAttribute('id','tel-status')
                   label.className="p-1"
                   let input=document.createElement("input");
                   input.className="icheckbox_minimal-red";
                   input.setAttribute('type','checkbox');
                   input.setAttribute('id','my-checkbox');
                   input.setAttribute('name',item.tel);
                   input.setAttribute('checked',true);
                   var text=item.tel
                   label.append(input);
                   label.append(text);
                   div.append(label)
                   divTels.append(div)

                    $(function () {
                        $('input').iCheck({
                        checkboxClass: 'icheckbox_square-red',
                        radioClass   : 'iradio_square-red',
                        increaseArea : '20%' // optional
                        })
                    })

         })
         el_checkbox = document.querySelectorAll('#tel-status');
    }
    catch (error) {
         console.log("eeeeeeeeeeeeeeeeeeror")
         console.log(error)
    }
};


</script>
{% endblock script %}