{% extends 'inc/base.html' %}
{% block main %}

<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>ورود به سایت</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

      <form action="" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input name="serial" class="form-control" placeholder="سریال">
          <div class="input-group-append">
            <span class="fa fa-credit-card input-group-text"></span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="رمز عبور">
          <div class="input-group-append">
            <span class="fa  fa-key input-group-text"></span>
          </div>
        </div>
        <div class="row">
<!--          <div class="col-8">-->
<!--            <div class="checkbox icheck">-->
<!--              <label>-->
<!--                <input type="checkbox"> یاد آوری من-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" style="border-radius:4px;" class="btn btn-primary btn-block btn-flat">ورود</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="#">رمز عبورم را فراموش کرده ام.</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'account:register' %}" class="text-center">ثبت نام</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->

{% endblock main %}